{% content_for head_scripts %}
  {% javascript_pack_tag 'storefront_cart' %}
{% endcontent_for %}

<div class="content-header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="breadcrumb-link">
        <a href="/">Home</a>
        <span>{{ settings.text.cart_header_text }}</span>
        </nav>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h1 class="page-title" id="cart-header">
          {{ settings.text.cart_header_text }}
        </h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  {% form update_cart %}
    <input name="_method" value="patch" type="hidden">
    <div class="row cart-main">
      <div class="col-md-5 col-lg-4 cart-coupon {{ settings.text.cart_promo_position }}">
        {% if current_order and order.price_adjustments["promotions"] == blank %}
          <div class="sidebar-pill cart-promo">
            <h4>Have a Coupon or Gift Card Code?</h4>
            <input id="coupon-gift-card-code" class="coupon-code coupon-gift-card-code" name="order[coupon_code_or_gift_card_code]" title="Coupon or Gift Card Code" value="" placeholder="Coupon or Gift Card Code" type="text">
            <input id="coupon-gift-card-code-submit" class="btn btn-primary btn-primary-gray" value="Apply" type="submit">
          </div>
        {% endif %}
        {% if current_order and order.price_adjustments["promotions"] != blank %}
          <div class="sidebar-pill cart-promo">
            <h4>Coupon Applied!</h4>
            {% assign adjustments = order.price_adjustments %}
            {% for item in adjustments["promotions"] %}
              <p class="applied-promotion">
                <span class="promotion-label">{{ item["label"] }}</span>
              </p>
            {% endfor %}
          </div>
        {% endif %}
      </div>
      <div class="col-md-7 col-lg-8 cart-items">
        {% if current_order and current_order.item_count > 0 %}
          <p class="item-count">You have {{ current_order.item_count }} item(s) in your cart.</p>
          <table>
            {% for item in current_order.line_items %}
              <tr class="cart-item">
                <td>
                  <img class="thumbnail" src="{{ item.thumbnail_url }}" alt="{{ item.name }}">
                </td>
                <td class="name-and-details">
                  <a class="product-name" href="{{ item.product.path }}" data-id="{{ item.id }}">
                    {{ item.name }}
                  </a>
                  <div class="product-details">
                    {% for option in item.variant.options_hash %}
                      <span class="variant-option">
                        <span class="option-name">{{ option[0] }}:</span>
                        <span class="option-value">{{ option[1] }}</span>
                      </span>
                    {% endfor %}
                  </div>
                  <div class="actions">
                    <a class="product-remove-button" data-id="{{ item.id }}" alt="Remove {{ item.name }}">
                      Remove
                    </a>
                    <br/>
                    {% if item.is_gift_card? %}
                      <a class="gift-card-edit-button" data-id="{{ item.gift_card.id }}" alt="Update {{ item.name }}">
                        Edit Gift Card Information
                      </a>
                    {% endif %}
                  </div>
                </td>
                <td class="product-quantity">
                  <input name="order[line_items_attributes][{{ forloop.index0 }}][id]" value="{{ item.id }}" type="hidden">
                  <input class="quantity input-lg" data-id="{{ item.id }}" step="1" min="0" name="order[line_items_attributes][{{ forloop.index0 }}][quantity]" value="{{ item.quantity }}" type="number" title="Quantity">
                </td>
                <td class="product-price">
                  {{ item.display_amount }}
                </td>
              </tr>
            {% endfor %}
          </table>
          <div class="cart-totals">
            <div class="subtotal">
              <span class="subtotal-label">
                Subtotal:
              </span>
              <span class="subtotal">
                {{ order.display_item_total }}
              </span>
            </div>
            {% if order.display_ship_total != "$0.00" %}
              <div class="shipping-total">
                <span class="shipping-label">
                  Shipping:
                </span>
                <span class="shipping-total">
                  {{ order.display_ship_total }}
                </span>
              </div>
            {% endif %}
            {% if order.display_tax_total != "$0.00" %}
              <div class="tax-total">
                <span class="tax-label">
                  Tax:
                </span>
                  <span class="tax-total">
                    {{ order.display_tax_total }}
                  </span>
              </div>
            {% endif %}
            <div class="adjustments">
              {% assign adjustments = order.price_adjustments %}
              {% for item in adjustments["promotions"] %}
                <span class="promotion-label">{{ item["label"] }}:</span>
                <span class="promotion-amount">{{ item["total"] }}</span>
                <div class="remove-promotion" data-react-class="RemovePromotion" data-react-props="{{ item['removalJson'] | html_escape }}"></div>
              {% endfor %}
            </div>
            <div class="order-total">
              <span class="order-total-label">
                Total:
              </span>
              <span class="order-total">
                ${{ order.display_order_total }}
              </span>
            </div>
          </div>
          <div class="cart-actions">
            <input class="btn btn-secondary" name="button" value="Update" type="submit">
            <input class="btn btn-primary btn-primary-gray btn-checkout" name="checkout" value="Checkout" type="submit">
          </div>
        {% else %}
          <p class="empty-cart">
            Your Cart is Empty<br>
            <a href="/products" class="btn btn-primary" style="display: inline-block;">Keep Shopping &gt;</a>
          <p>
        {% endif %}
      </div>
    </div>
  {% endform %}
</div>
{% if current_order.line_items.first.product.related_products %}
  <div class="upsell-wrap">
    <div class="container">
      <h1 class="cart-header">Related Items</h1>
    </div>
    <div class="upsell-container">
      <div class="product-blocks-feature-container">
        <div class="container">
          <div class="row">
            {% for product in current_order.line_items.first.product.related_products limit: 3 %}
              <div class="col-md-4">
                {% include 'spree/shared/product_block_feature', show_price: true %}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}
<script>
  // Remove item from cart
  // find the corresponding quantity field, set its value to 0, and submit the form
  const delete_buttons = document.querySelectorAll(".product-remove-button")
  delete_buttons.forEach(button => {
    button.addEventListener("click", function(e) {
      const id = this.getAttribute("data-id");
      const quantity_selector = `input.quantity[data-id="${ id }"]`;
      const quantity = document.querySelector(quantity_selector);
      const form = document.querySelector("form#update-cart");
      quantity.value = 0;
      form.submit();
    })
  })

  const gift_cards_buttons = document.querySelectorAll(".gift-card-edit-button")
  gift_cards_buttons.forEach(button => {
    button.addEventListener("click", function(e) {
      const id = this.getAttribute("data-id");
      let modal = $("#gift-card-modal");
      modal.data("giftCardId", id);

      $.ajax({
        url: `/api/gift_cards/${id}`,
        method: "GET",
        success: function(response) {
          modal.data("giftCard", response);
        },
        error: function(error) {
          console.error("Couldn't find a gift card with that ID");
        }
      });

      modal.modal();
    })
  });
</script>
