<div class="content-header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="breadcrumb-link">
          <a href="/">Home</a>
          <a href="/account">Your Account</a>
          <span>Order {{ order.number }}</span>
        </nav>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h1 class="page-title">Order Details</h1>
      </div>
    </div>
  </div>
</div>

<div class="order-show">
  <div class="container">

    <div class="row">
      <div class="col-12">
        <div class="order-show-title text-center">
          <h1>Thank you!</h1>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="order-info text-center">
          <div class="order-number">
            <h5><span class="light">Order:</span> #{{ order.number }}</h5>
          </div>
          <div class="order-placed-date">
            <h5><span class="light">Order Placed:</span> {{ order.completed_at_date }}</h5>
          </div>
          <div class="order-placed-status">
            <h5><span class="light">Order Status:</span> {{ order.state }}</h5>
          </div>
          <div class="print-receipt">
            <a class="btn btn-primary btn-primary-beige" href="javascript:if(window.print)window.print()" role="button">Print Receipt</a>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-12">
        <div class="shipment-container">
          <div class="shipment-title">
            <h2>Shipping Information</h2>
          </div>
          {% for shipment in order.shipments %}
            <div class="shipment-info">
              <h5><span class="light">Reference Number:</span> {{ shipment.number }}</h5>
              <h5><span class="light">Shipping Method:</span> {{ shipment.shipping_method_name }}</h5>
              <h5><span class="light">Shipping Status:</span> {{ shipment.state }}</h5>
              {% if shipment.tracking_link %}
                <h5><span class="light">Tracking Number:</span> {{ shipment.tracking_link }}</h5>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="checkout-confirm-form-container">
          <div id="confirm" class="checkout-confirm-form">
            <div class="form-group">
              <div class="row">
                <div class="col-sm-6">
                  <div class="billing-address-confirm">
                    <h3>Billing Address</h3>
                    {% include "spree/shared/address" with order.bill_address %}
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="shipping-address-confirm">
                    <h3>Shipping Address</h3>
                    {% include "spree/shared/address" with order.ship_address %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="order-summary-container">
      {% include 'spree/shared/order_summary' %}
    </div>

  </div>
</div>
