{% content_for head_scripts %}
  {% javascript_pack_tag 'storefront_account' %}
{% endcontent_for %}

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ current_store.google_maps_api_key }}&libraries=places"></script>
{% csrf_token %}
<div class="content-header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="breadcrumb-link">
          <a href="/">Home</a>
          <span>Your Account</span>
        </nav>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h1 class="page-title">Your Account</h1>
      </div>
    </div>
  </div>
</div>

<div class="user-account">
  <div class="container">
    <div class="user-account-title">
      <div class="row">
        <div class="col-12">
          <h2>Welcome Back!</h2>
        </div>
        <div class="col-12">
          <h4>Store Credits: {{ user.store_credits_total }}</h4>
        </div>
      </div>
    </div>
    <div class="user-account-info">
      <div class="row">
        <div class="col-12">
          <a class="btn btn-primary" href="/account/edit">Edit email/password</a>
          {% form logout %}
            <button class="btn btn-secondary" type="submit">Log Out</button>
          {% endform %}
        </div>
      </div>
    </div>
    <div class="user-account-orders">
      <div class="row">
        <div class="col-12">
          <div class="user-orders-title text-left">
            <h2>Past Orders</h2>
          </div>
        </div>
      </div>
      {% unless orders == empty %}
        {% for order in orders %}
          <div class="order">
            <div class="row">
              <div class="col text-left">
                <h4 class="order-number"><a href="/orders/{{ order.number }}">Order: {{ order.number }}</a></h4>
              </div>
              <div class="col text-right">
                <a class="btn btn-secondary" href="/orders/{{ order.number }}">View Details &gt;</a>
              </div>
            </div>
            <div class="row">
              <div class="col text-left">
                <h5 class="order-placed">Placed: {{ order.completed_at_date | date: "%B %d, %Y" }}</h5>
              </div>
            </div>
            {% comment %} This looks terrible with only one link.
            <div class="row">
              <div class="col text-left actions">
                <a href="/orders/{{ order.number }}">View Order</a>
              </div>
            </div>
            {% endcomment %}
            <div class="row">
              <div class="col">
                <div class="order-item">
                  <h6>Order Status</h6>
                  <h4>{{ order.state }}</h4>
                </div>
              </div>
              <div class="col">
                <div class="order-item">
                  <h6>Payment</h6>
                  <h4>{{ order.payment_state }}</h4>
                </div>
              </div>
              <div class="col">
                <div class="order-item">
                  <h6>Shipment</h6>
                  <h4>{{ order.shipment_state }}</h4>
                </div>
              </div>
              <div class="col">
                <div class="order-item">
                  <h6>Total</h6>
                  <h4>{{ order.display_total }}</h4>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <div class="no-orders">
          <div class="row">
            <div class="col-12">
              <p>You don't have any orders yet.</p>
            </div>
          </div>
        </div>
      {% endunless %}
    </div>
    <div data-react-class="SubscriptionsApp" data-react-props="{{ user.active_subscriptions_json | html_escape }}"></div>
  </div>
</div>

<script>

let userToken = '{{ user.spree_api_key }}';

 document.addEventListener("DOMContentLoaded", function(){
   $('.skip-subscription-button').on('click', function(event) {
     modal = $('#skip-confirm-modal')
     modal.modal()
     modal.data('subscriptionId', $(event.currentTarget).data('subscriptionId'))
   })
 });

</script>
