<div class="media-card youtube">
  <a href="{{ post.url }}">
    <div class="media-card-image media-card-video-thumbnail" style="background-image: url({{ post.youtube_post.large_image_url }});">
    </div>
    <div class="media-card-text">
      <h6 class="card-title">
        <i class="fab fa-youtube"></i>
        {{ post.title | truncate: 20 }}
      </h6>
      <div class="published-at">{{ post.published_at | date: "%a, %b %d, %Y" }}</div>
      {% if post.description %}
        <p class="description">{{ post.description }}</p>
      {% endif %}
      <a class="call-to-action" href="{{ post.url }}">More &gt;</a>
    </div>
  </a>
</div>

