{% assign header_items = header_menu.menu_items | sort: "sort" %}
<ul class="navbar-nav">
  <li class="d-lg-none">
    <a class="dropdown-item" href="/account">
      <i class="fas fa-user"></i>
      Account
    </a>
  </li>
  {% for header_item in header_items %} {% assign header_item_children_count = header_item.sub_menu_items | size %}
    {% if header_item_children_count > 0 %}
      {% comment %} menu item has children - render submenu {% endcomment %}
      {% capture header_item_id %}navbar-dropdown-{{ header_item.id }}{%endcapture%}
      <li class="nav-item dropdown">
        <a class="dropdown-item dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="{{ header_item_id }}">
          {{ header_item.name }}
        </a>
        <div class="dropdown-menu" aria-labelledby="{{header_item_id}}">
          {% assign header_sub_items= header_item.sub_menu_items | sort: "sort" %}
          {% for header_sub_item in header_sub_items %}
            <a class="dropdown-item" href="{{ header_sub_item.path }}">{{ header_sub_item.name }}</a>
          {% endfor %}
        </div>
      </li>
    {% else %}
      {% comment %} menu item has no children - render link {% endcomment %}
      <li class="nav-item">
        <a class="dropdown-item" href="{{ header_item.path }}">{{ header_item.name}}</a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
