<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<title>{% seo_title %}</title>

<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no, user-scalable=no">

<meta name="description" content="{{ current_store.meta_description }}">
<meta name="keywords" content="{{ current_store.meta_keywords }}">

{{ meta_data_tags }}

{% canonical_url_tags %}

{{ csrf_meta_tags }}

<script src="{{ 'js/jquery-2.2.4.min.js' | asset_url }}"></script>
<link href="/theme_assets/scss/style.scss" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
<script src="{{ 'js/popper.min.js' | asset_url }}"></script>
<script src="{{ 'js/bootstrap.js' | asset_url }}"></script>
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>

{% javascript_pack_tag 'fe' %}
{% stylesheet_pack_tag 'fe' %}

{{ content_for_head }}

{% tracking_scripts_head %}
