<div class="product-block-feature" data-product-id="{{ product.id }}">
  <div class="row">
    <a class="row" href="{{ product.path }}">
      <div class="col-lg-4">
        <div class="product-img">
          <img src="{{ product.display_image_large_url }}" alt="{{ product.display_image_alt }}">
        </div>
      </div>
      <div class="col-lg-8">
        <div class="product-details">
          <div class="product-title">
            <h4>{{ product.name }}</h4>
          </div>
          <div class="product-description">
            <p>{{ product.description | truncate: 75 }}</p>
          </div>
        </div>
        {% if show_price == true %}
          <div class="upsell-price">
            <div class="">
              <h6>{{ product.price }}</h6>
            </div>
          </div>
        {% endif %}
      </div>
    </a>
  </div>
</div>  
  