<div class="product-block quicklook-target" data-product-id="{{ product.id }}">
  <div class="row">
    <div class="col-12">
      <div class="product-img">
        <img src="{{ product.display_image_large_url }}" alt="{{ product.display_image_alt }}">
        <div class="quick-view">
          <a class="btn btn-secondary" href="{{ product.path }}" role="button">
            View Product
          </a>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="product-details">
        <div class="row">
          <div class="col-lg-8">
            <div class="description">
              <a href="{{ product.path }}"><h3>{{ product.name }}</h3></a>
              <p class="p-italic">{{ product.description | truncate: 20 }}</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="price">
              <h6>{{ product.price }}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
