<div class="product-column">
  <a class="product-single-container product-block" href="{{ product.path }}">
      <div class="product-single">
        <div class="product-display">
          <div class="product-img" data-product-id="{{ product.id }}">
            <img src="{{ partial_product.display_image_large_url }}" alt="{{ partial_product.display_image_alt }}">
          </div>
          <div class="product-details">
            <h5 class="name">{{ partial_product.name }}</h5>
            <h4 class="price">{{ partial_product.price }}</h4>
            <p class="description">{{ partial_product.description | truncate: 280 }}</p>
          </div>
        </div>
      </div>
  </a>
</div>

